#hidden-jumbotron {
  display: none;
  margin-top: 1em;
}

#hidden-jumbotron button {
  display: block;
  margin: auto;
}

.hidden-destination {
  display: none;
}

#form-jumbotron {
  text-align: center;
  margin-top: 1em;
}

.question {
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
}

.carousel-inner .item img {
  display: block;
  margin: auto;
}
