.jumbotron {
  display: none;
  margin-top: 1em;
}

.jumbotron button {
  display: block;
  margin: auto;
}

.hidden-destination {
  display: none;
}

.question {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
}

.carousel-inner .item img {
  display: block;
  margin: auto;
}
